@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* nos ayuda a determinar el tamaño */
  font-family: 'Permanent Marker', cursive;
}

header.main {
  height: 80px;
  /* background-color: rgb(129, 10, 12); */
  border: 1px solid rgba(93, 49, 99, 0.32);
}
 /* logo */
.main .logo {
  width: 30%;  /*porcentaje */
  height: inherit; /* inherit es el 100 % de pantalla */
  line-height: 80px;
  font-size: 40px;   /* pixeles*/
  padding: 20px;
  float: left;  /* coloca elemento a la derecha */
  /* background-color: rgb(222, 242, 62); */
}
  /* nav */
 .main nav {
   height: inherit;
   /* background-color: rgb(112, 70, 15); */
   float: right;
   width: 30%;
 }
 .main nav > ul {
   width: 100%;
   height: 100%;
   list-style: none;
 }

.main nav > ul > li {
  width: 33.33%;
  text-align: center;
  float: right;
  height:  inherit;
  text-align: center;
  line-height: 80px;
}
.main nav > ul > li > a:visited {
 color: rgb(60, 130, 250);
}
